
*{
    margin:0px;
    padding:0px;
    font-family:  "Roboto", sans-serif;
    background-color: white;
}
#body{

    width:100%;
}
@media screen and (max-width:1015px){
    #s-nav{
     
     display:none;
    }
    #form{
        display:none;
    }
    #small_nav>div>p{
        font-size: 10px;;
    }
}
#hamburger{
    display:none;
}
@media screen and (max-width:1208px){
    
    .navigation>img{
        display:none;
    }
    .navigation>div{
     display: none;
     
    }
    #hamburger{
        display:block;
        height:50%;
        margin-top: 15px;
        margin-right:20px;
        position:relative;
    }
    
    #hamburger>img{
        height:100%;
        width:50px;
        
    }
    #hamburger:hover #menucontent2{
        display: block;
    }
    
    #card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:20px;
        width:70%;
        /* border: 1px solid red; */
        justify-content: center;
        margin-top: 30px;
      }
      #card>div{
        padding-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
      }
      
      #card>div img{
        display: flex;
        width:90%;
        margin: auto;
         padding-top:20px;  
      }
      #card>div h3{
        padding-left: 20px;
      }
      #card>div p{
        padding-left: 20px;
      }
      #sortp{
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        /* margin-bottom: 20px; */
        /* margin-left: 380px; */
        margin-left: 15%;
        height:30px;
        width: 200px;
        border: 1px solid black;
      }

      #filter{
        margin-top: 40px;
        /* margin-bottom: 20px; */
        margin-left: 15%;
        height:30px;
        width: 200px;
        border: 1px solid black;
      }

      #detail{
        display:flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
        margin-top: 70px;
    }
    #name button{
        /* display: flex; */
        padding:3% 5% 3% 5%;
        border-radius: 10px;
    }
    #name{
        margin-top: 20px;
        margin-left: 30px;
        width: 80%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding-bottom: 20px;
     }

     .rec{
        /* border: 1px solid red; */
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        margin: auto;
        margin-bottom: 50px;
        justify-content: center;
    }
}

@media screen and (max-width:700px){
    
    .navigation>img{
        display:none;
    }
    .navigation>div{
     display: none;
     
    }
    #hamburger{
        display:block;
        height:50%;
        margin-top: 15px;
        position:relative;
        margin-right:20px;
    }
    
    #hamburger:hover #menucontent2{
        display: block;
    }
    #hamburger>img{
        height:100%;
        width:50px;
        
    }
    #form{
        display:none;
    }
    #small_nav>div>p{
        font-size: 8px;;
    }

    #card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:20px;
        /* border: 1px solid red; */
        width:70%;
        
        justify-content: center;
        margin-top: 30px;
      }
      #card>div{
        /* border: 1px solid red; */
        padding-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
      }
      
      #card>div img{
        display: flex;
        width:90%;
        margin: auto;
         padding-top:20px;  
      }
      #card>div h3{
        padding-left: 20px;
      }
      #card>div p{
        padding-left: 20px;
      }

      #sortp{
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        /* margin-bottom: 20px; */
        /* margin-left: 380px; */
        margin-left: 15%;
        height:30px;
        width: 200px;
        border: 1px solid black;
      }

      #filter{
        margin-top: 40px;
        /* margin-bottom: 20px; */
        margin-left: 15%;
        height:30px;
        width: 200px;
        border: 1px solid black;
      }

      #detail{
        display:flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
        margin-top: 70px;
    }
    #name button{
        /* display: flex; */
        padding:1% 3% 1% 3%;
        border-radius: 10px;
    }
    
    #name{
        margin-top: 20px;
        margin-left: 30px;
        width:80%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding-bottom: 20px;
     }
     .rec{
        /* border: 1px solid red; */
         display: flex; 
        flex-direction: column;
        width: 85%;
        margin: auto;       
        margin-bottom: 50px;
        gap:10px 10px;
        align-items: center;

    }
    .title{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 180px;
    }
    #name button:nth-child(8){
        margin-left: 2%;
        margin-right: 1%;
        background-color: pink;
        border: none;
    }
    
}

#navbar{
    width:100%;
    height:80px;
    
}
/* s-nav css */
#s-nav{
    
    width:100%;
    height:20%;
}
#sub{
   
    width:50%;
    padding:2px;
    height:90%;
    float: right;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
/* b-nav css */
#b-nav{
    width:100%;
    height:80%;
   
    display:flex;
    justify-content: space-between;
}
#b-nav>div:nth-child(1){
    width:50%;
    height:100%;
    
    display:flex;
}
#b-nav>div:nth-child(1)>div:nth-child(1){
    width:30%;
    height:90%;
   
    margin: auto;
}
#b-nav>div:nth-child(1)>div:nth-child(2){
    width:70%;
    height:90%;
   
    margin: auto;
}
#b-nav>div:nth-child(1)>div img{
    width:100%;
    height: 95%;
}

/* searchbar */
#form{
    width:100%;
    height:100%;
}
#form>div>input{
    position:relative;
    width:90%;
    height:100%;
    border:none;
    background-color:#ECEFF1;
    padding-left: 15px;
}
#form>div{
    width:90%;
    height:70%;
    margin-top:8px;
    margin-left:15px;
    background-color:#ECEFF1;
    border:1px solid black;
}
#b-nav>div:nth-child(2){
    display:flex;
    justify-content: space-between;
   
    width:39%;

}
#input{
    font-size:15px;
    outline:none;
}

/* navigation */
.navigation{
    display:flex;
    width:25%;
    height:80%;
    margin:auto;
}
.navigation>img{
    width:35%;
    margin-right:5px;
}
.navigation>div>p{
    font-size:13px;
    margin-top: 10px;
}
.navigation>div>p:nth-child(2){
    margin-top: 0px;
    color:#F50057;
}
#block{
    font-weight: bold;
}
#dropdown1{
    position:relative;
    
}
#menucontent1{
    display:none;
    position:absolute;
    min-width:1000px;
    min-height: 400px;;
    z-index:1;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    
    top:20px;
    left:10px;
   
}

#menucontent2{
    display:none;
    position:absolute;
    min-width:150px;
    min-height:100px;;
    z-index:1;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    top:30px;
    right:0;
}




/* small_navbar */
#small_nav{
    border:1px solid #ECEFF1;
    width:100%;
    height:40px;
    display: flex;
    justify-content: space-around;
   padding:2px;

}
#small_nav>div{
    display:flex;
    font-size: 13px;
    height:50%;
   width:11%;
    margin: auto;
}
#small_nav>div>p{
    margin-left:10px;
    margin-top:5px;
}
#small_nav>div>p:hover{
    color:#F50057
}
#mother{
    font-weight: bold;
    color:#F50057;

}
#small_nav>div>img{
    width:10%;
    height:40%;
    margin-top:7px;
    margin-left:5px;
}
#dropdown{
    position:relative;
    
}
#menucontent>div{
    display:flex;
    justify-content: space-around;
}
#menucontent>div>div{
    
    
    height:100%;
    width:20%;
}
#menucontent h2{
    font-weight: 700;
    font-size: 15px;
    margin-top:20px;
    margin-bottom:25px;
    margin-left:15px;
}
#menucontent{
    display:none;
    position:absolute;
    min-width:1000px;
    min-height: 400px;;
    z-index:1;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    
    top:20px;
    left:10px;
   
}
.link-hide{
    text-decoration: none;
    display:block;
    font-size: 15px;
    margin:15px 15px;
    color:black;

}
.link-hide:hover{
    
    color:#F50057;
}
#dropdown:hover #menucontent{
    display: block;
}
#dropdown1{
    position:relative;
    
}
#menucontent1{
    display:none;
    position:absolute;
    min-width:270px;
    min-height: 250px;;
    z-index:1;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    top:45px;
    left:-40px;
   
}
#menucontent1>div{
    margin:20px;
    
}
#menucontent1>div>p{
    margin-bottom:5px;
}
#menucontent1>div>a>button{
    margin-bottom: 10px;
    border:0.5px solid grey;
    color:#F50057;
    padding: 4px;
    width:100px;
}
#menucontent1>div>p:nth-child(1){
    font-weight: bold;
}
#dropdown1:hover #menucontent1{
    display: block;
}
#menucontent1>div>div{
    width:100%;
    margin:auto;
    height:0.25px;
    background-color:grey;
    margin-bottom:15px;
}



